.header-img {
    padding-left: 4%;
}
.btn-de{
    margin: 2% 3%;
}
.flash-m{
    position: absolute;
    left: 80%;
    top: 9%;

}
a.add.pull-right:hover {
    color: blueviolet;
}
a.add.pull-right {
    color: black;
}